name: build and push docker image

on:
  push:
    branches:
      - 'master'
      - 'docker_image_upload'

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_HUB_USERNAME: royalts
    steps:

      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version string
        id: get_version
        run: |
          echo "CONTAINER_VERSION=$(cat ./Dockerfile | grep -E 'MLFLOW_VERSION\s?=' | cut -d '=' -f 2)" >> $GITHUB_ENV

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: atcommons/mlflow-server:latest, atcommons/mlflow-server:${{ env.CONTAINER_VERSION }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: atcommons/mlflow-server
